@{
    ViewData["Title"] = "Home Page";
}
<!-- Lista carpetas con boton que te mande a su contenido -->
<div class="col-2  divlistaarchivos">
    <form action='@Url.Action("SubirArchivo","Home")' method="post" enctype="multipart/form-data">
      <label for="SubirArchivo" class="btn btn-secondary btn-lg btn-block active">Nuevo</label>
      <input id="SubirArchivo" type="file" name="MyFile" style="visibility:hidden;" onchange="javascript:this.form.submit();">
    </form> 
    <div class="">
      @{
          if(ViewBag.ListaCarpetas.Count != 0)
          {
            foreach(Carpeta archivo in ViewBag.ListaCarpetas){
              <ul>
              <li class="list-group-item disabled"><p id="NombreArchivo"></p></li>
              </ul>
            }
          }else{
            <P>No hay archivos todavia</P>
          }
        } 
    </div>
</div>


<!-- Buscar x Nombre -->
<div class="navbarr row col-9">
  <div class="col-6"style="float: left;">
  <form action="." method="post" target="_blank">
  <p>
    Buscar documento: <input type="search" name="busquedaDoc" placeholder="Buscar...">
    <input type="submit" value="Buscar">
  </p>
</form>
<h4 class="text-center" style="text-decoration: underline;">⭐Bienvenido @BD.UsuarioLogueado.Nombre⭐</h4>
</div>
<div class="col-6">
          <!-- Boton perfil SE ROMPIO :,v-->
  <a href='@Url.Action("Perfil","Home")'><img class="perfil" src="@BD.UsuarioLogueado.Foto"></a>
          <!-- Boton cerrar sesión -->
  <a href='@Url.Action("Index","Home")' class="btn btn-secondary btn-lg btn-block active cerrarsesion" style="margin-left: 5%;">Cerrar Sesión</a>
</div>
  
</div>

