@{
    ViewData["Title"] = "Home Page";
}
<!--ListaArchivos-->
<div>
<div class="col-2 divlistaarchivos" style="background-color: #d9d9d9;">
    <form action='@Url.Action("SubirArchivo","Home", new{IdUsuario = @ViewBag.Usuario.idUsuario})' method="post" enctype="multipart/form-data">
      <label for="SubirArchivo" class="btn btn-success btn-lg btn-block active" style="margin-top: 10px;">Nuevo</label>
      <input id="SubirArchivo" type="file" name="MyFile" style="visibility:hidden;" onchange="javascript:this.form.submit();">
    </form> 
    <div class="col-sm">
      @{
          if(ViewBag.ListaDocumentos.Count != 0)
          {
            <ul style="padding: 0px">
            @foreach(Documento archivo in ViewBag.ListaDocumentos){
                <li class="list-group-item disabled">
                  @archivo.NombreDoc
                </li>
                <input type="button" class="btn btn-warning" onclick="MostrarInfoArchivo(@archivo.IdDoc,'@ViewBag.Usuario.Nombre')" value="mas info">       
                <a href='@Url.Action("EliminarDocumento", "Home", new {IdDocBorrar = archivo.IdDoc})'>Eliminar</a>       
            }
            </ul>
          } 
      }
    </div>
</div>
<!-- Buscar x Nombre -->
<div class="navbarr row col-10" style="margin-left: 80% ;">
    <div class="col-6" style="margin-top: 20px;">
      <a href='@Url.Action("Perfil","Home")'><img class="perfil" src="/@BD.UsuarioLogueado.Foto"></a>
      <a href='@Url.Action("Index","Home")' class="btn btn-secondary btn-sm btn-block active cerrarsesion" style="margin-left: 5%;">Cerrar Sesión</a>
    </div>
</div>
<!--Info archivo-->
<div class="row col-4">
  <h3 id="NombreArchivo" style="color: white; opacity: .7;" >Ningún archivo ha sido seleccionado</h3>
  <h4 id="NombreUsuario"  style="color: white; opacity: .7;" ></h4>
  <h4 id="TipoDocumento"  style="color: white; opacity: .7;" ></h4>
  <h4 id="TiempoSubida"  style="color: white; opacity: .7;" ></h4>
</div>
</div>